/* Base Mobile Styles - Reset and defaults */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    background-color: #0c6d3a;
}

#mobile-app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0c6d3a;
}

button {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

button:focus {
    outline: 2px solid #ffd166;
    outline-offset: 2px;
}
